 <!-- CV Section -->
    <section class="success" id="cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Curriculum Vitae</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="./_cv/Valentine HERRMANN - CV - 2017.pdf" download="newfilename">Download my CV</a>
                </div>
            </div>
        </div>
    </section>
